<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Alumnos</title>
</head>
<body>
    <h2>Lista de Alumnos:</h2>
    <ul>
        {%for alumno in object_list%}
            <li>Alumno: {{alumno.nombre}} {{alumno.apellido}} | 
            <a href="{% url 'alumnos_detail' alumno.id %}">Ver</a>
            <a href="{% url 'alumnos_delete' alumno.id %}">eliminar</a>
            <a href="{% url 'alumnos_update' alumno.id %}">editar</a>
            </li>
        {%endfor%}
    </ul>
    <a href="{% url 'alumnos_create' %}">Crear Alumno</a>
</body>
</html>