{% extends 'CursosyEventosApp/base.html' %}
{% load static %}

{% block tituloPagina %} {% comment %}<!--El bloque de tituloPagina me lo rellena con este contenido-->{% endcomment%}
Editar - App Coder
{% endblock %}

{% block contenidoPagina %}

<section class="bg-light py-5">
    <div class="container px-5">
        <h1>Editar perfil</h1>
        <br>
        <h5>Estas editando el usuario "{{user.username}}":</h5>
        <br>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Guardar</button>
        </form>
    </div>
</section>
{% endblock %}